# LECTURE 5:List and Dictionary

In [5]:
lst=[0,1,2,3,4]

In [6]:
lst[0]

0

In [7]:
lst[0:4]

[0, 1, 2, 3]

In [8]:
lst[-1]

4

In [9]:
lst=lst+[3.14,2.71,5.67]

In [10]:
lst

[0, 1, 2, 3, 4, 3.14, 2.71, 5.67]

In [11]:
type(lst[4])

int

In [12]:
lst=lst+["UCP","LAHORE","Pakistan"]

In [13]:
lst

[0, 1, 2, 3, 4, 3.14, 2.71, 5.67, 'UCP', 'LAHORE', 'Pakistan']

In [14]:
type(lst[7])

float

In [15]:
# extend and append
lst.extend([45,55,65,75])

In [16]:
lst

[0, 1, 2, 3, 4, 3.14, 2.71, 5.67, 'UCP', 'LAHORE', 'Pakistan', 45, 55, 65, 75]

In [19]:
lst.append(['umt','uet','uol','puict'])

In [20]:
lst

[0,
 1,
 2,
 3,
 4,
 3.14,
 2.71,
 5.67,
 'UCP',
 'LAHORE',
 'Pakistan',
 45,
 55,
 65,
 75,
 0,
 1,
 2,
 3,
 4,
 3.14,
 2.71,
 5.67,
 'UCP',
 'LAHORE',
 'Pakistan',
 45,
 55,
 65,
 75,
 ['umt', 'uet', 'uol', 'puict']]

In [23]:
lst[-1][1]

'uet'

In [24]:
lst[-1][1][2]

't'

In [25]:
lst.insert(5,555)

In [26]:
lst

[0,
 1,
 2,
 3,
 4,
 555,
 3.14,
 2.71,
 5.67,
 'UCP',
 'LAHORE',
 'Pakistan',
 45,
 55,
 65,
 75,
 0,
 1,
 2,
 3,
 4,
 3.14,
 2.71,
 5.67,
 'UCP',
 'LAHORE',
 'Pakistan',
 45,
 55,
 65,
 75,
 ['umt', 'uet', 'uol', 'puict']]

In [27]:
del lst[15:-1]

In [28]:
lst

[0,
 1,
 2,
 3,
 4,
 555,
 3.14,
 2.71,
 5.67,
 'UCP',
 'LAHORE',
 'Pakistan',
 45,
 55,
 65,
 ['umt', 'uet', 'uol', 'puict']]

In [29]:
#del
#remove
#pop
del lst[5]

In [30]:
lst

[0,
 1,
 2,
 3,
 4,
 3.14,
 2.71,
 5.67,
 'UCP',
 'LAHORE',
 'Pakistan',
 45,
 55,
 65,
 ['umt', 'uet', 'uol', 'puict']]

In [31]:
lst.remove('UCP')

In [33]:
lst

[0,
 1,
 2,
 3,
 4,
 3.14,
 2.71,
 5.67,
 'LAHORE',
 'Pakistan',
 45,
 55,
 65,
 ['umt', 'uet', 'uol', 'puict']]

In [34]:
lst.pop()

['umt', 'uet', 'uol', 'puict']

In [35]:
lst

[0, 1, 2, 3, 4, 3.14, 2.71, 5.67, 'LAHORE', 'Pakistan', 45, 55, 65]

In [36]:
for x in lst:
    if type(x)==str:
        lst.remove(x)

In [37]:
lst

[0, 1, 2, 3, 4, 3.14, 2.71, 5.67, 'Pakistan', 45, 55, 65]

In [39]:
lst.insert(5,'India')

In [40]:
lst

[0, 1, 2, 3, 4, 'India', 3.14, 2.71, 5.67, 'Pakistan', 45, 55, 65]

In [42]:
del lst[6]

In [43]:
del lst[8:-1]

In [44]:
lst

[0, 1, 2, 3, 4, 'India', 2.71, 5.67, 65]

In [47]:
lst.remove("India")

In [48]:
lst.sort()

In [49]:
lst

[0, 1, 2, 2.71, 3, 4, 5.67, 65]

In [50]:
lst.sort(reverse=True)

In [51]:
lst

[65, 5.67, 4, 3, 2.71, 2, 1, 0]

In [56]:
#dictionary
#key=value(S)
d={'Country':['Pakistan','Iran','India','Afghanistan','China'],'Capital':['Islamabad','Tehran','Delhi','Kabul','Beijing'],
  'Population':[25.1,5.22,135.7,5.8,175.3]}

In [57]:
d

{'Country': ['Pakistan', 'Iran', 'India', 'Afghanistan', 'China'],
 'Capital': ['Islamabad', 'Tehran', 'Delhi', 'Kabul', 'Beijing'],
 'Population': [25.1, 5.22, 135.7, 5.8, 175.3]}

In [58]:
d.keys()

dict_keys(['Country', 'Capital', 'Population'])

In [59]:
d.values()

dict_values([['Pakistan', 'Iran', 'India', 'Afghanistan', 'China'], ['Islamabad', 'Tehran', 'Delhi', 'Kabul', 'Beijing'], [25.1, 5.22, 135.7, 5.8, 175.3]])

In [60]:
d.items()

dict_items([('Country', ['Pakistan', 'Iran', 'India', 'Afghanistan', 'China']), ('Capital', ['Islamabad', 'Tehran', 'Delhi', 'Kabul', 'Beijing']), ('Population', [25.1, 5.22, 135.7, 5.8, 175.3])])

In [61]:
for v in d.values():
    print(v)

['Pakistan', 'Iran', 'India', 'Afghanistan', 'China']
['Islamabad', 'Tehran', 'Delhi', 'Kabul', 'Beijing']
[25.1, 5.22, 135.7, 5.8, 175.3]

In [64]:
for k,v in d.items():
    print(k,'=>',v)

Country => ['Pakistan', 'Iran', 'India', 'Afghanistan', 'China']
Capital => ['Islamabad', 'Tehran', 'Delhi', 'Kabul', 'Beijing']
Population => [25.1, 5.22, 135.7, 5.8, 175.3]

# pandas

In [66]:
import pandas as pd

In [73]:
df=pd.DataFrame.from_dict(d)

In [74]:
df.to_csv('pbd_05.csv',index=False,header=True)

In [75]:
df

       Country    Capital  Population
0     Pakistan  Islamabad       25.10
1         Iran     Tehran        5.22
2        India      Delhi      135.70
3  Afghanistan      Kabul        5.80
4        China    Beijing      175.30

In [78]:
df=pd.read_csv('pbd_05.csv')

In [79]:
df

       Country      Capital  Population
0     Pakistan    Islamabad       25.10
1         Iran       Tehran        5.22
2        India        Delhi      135.70
3  Afghanistan        Kabul        5.80
4        China      Beijing      175.30
5       Kuwait  Kuwait City      123.30

In [80]:
df.head(3)

    Country    Capital  Population
0  Pakistan  Islamabad       25.10
1      Iran     Tehran        5.22
2     India      Delhi      135.70

In [81]:
df.tail(3)

       Country      Capital  Population
3  Afghanistan        Kabul         5.8
4        China      Beijing       175.3
5       Kuwait  Kuwait City       123.3